@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Italianno&family=Red+Hat+Text&display=swap');

a {
  color: rgb(115, 104, 59);
}

.about-cleber {
  display: inline-block;
  min-width: 100px;
  text-align: justify;
  vertical-align: top;
  width: 55%;
}

.arrow a {
  text-decoration-line: none;
}

.arrow span {
  font-size: 15px;
  font-weight: normal;
}

.ass {
  font-family: Italianno;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

body {
  background-color: rgb(242, 249, 255);
  color: rgb(88, 62, 35);
  font-family: 'Red Hat Text';
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

.container {
  margin-bottom: 50px;
  margin-left: 3%;
  text-align: left;
}

.div-photo {
  display: inline-block;
  min-width: 330px;
  text-align: left;
  width: 30%;
}

footer {
  background-color: rgb(6, 45, 80);
  bottom: 0;
  color: rgb(250, 250, 250);
  font-size: 12px;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

h3 {
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 5px;
}

.header {
  text-align: center;
}

.index {
  margin: 0;
  padding: 0;
}

.index li {
  display: inline;
  margin: 2px 15px;
}

.menu {
  background-color: rgb(250, 250, 250);
  box-shadow: 1px 5px 5px rgba(19, 38, 47, 0.3);
  font-size: 18px;
  margin-left: 0;
  padding-bottom: 5px;
  padding-top: 3px;
  position: fixed;
  text-align: center;
  top: 44px;
  width: 100%;
  z-index: 3;
}

.menu li.arrow {
  font-weight: bolder;
  margin-right: 0;
  position: fixed;
  right: 10px;
}

.name {
  color: rgb(19, 38, 47);
  display: block;
  font-family: Italianno;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  text-align: center;
}

.photo {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  box-shadow: 1px 1px 7px rgb(99, 133, 148);
  min-width: 300px;
  padding: 5px;
  width: 90%;
}

.projects {
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 50px;
}

.projects ::marker {
  font-size: 14px;
}

span {
  font-weight: 600;
}

.start {
  color: rgb(242, 249, 255);
  margin-bottom: 60px;
}

.t-index {
  display: none;
}

.title {
  background-color: rgb(6, 45, 80);
  color: rgb(176, 160, 132);
  font-family: 'Della Respira';
  letter-spacing: 2px;
  margin-top: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

ul {
  line-height: 27px;
  margin-bottom: 50px;
  margin-top: 0;
}
