a {
  color:whitesmoke;
}

.b{
  background-color: rgba(0, 0, 255, 0.735);
  color: white;
}

body {
  align-items: center;
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1em;
  justify-content: center;
  margin: 0;
}

.bolinhas {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 2%;
  width: 100%;
}

.btn {
  font-size: 2.8vw;
  letter-spacing: 1px;
  margin: 5px;
  padding: 2px 2px;
}

.btn-eletronico {
  margin-bottom: 10px;
  width: 33vw;
}

#btn-ganhador {
  width: 19vw;
}

#btn-premio {
  width: 17vw;
}

#btn-valor {
  width: 10vw;
}

.btn:hover {
  background-color: gray;
  color: white;
  font-weight: 600;
  transition: 0.8s;
}

.cartela {
  background-color: gainsboro;
  border: 2px solid gray;
  border-radius: 3vw;
  border-spacing: 3vw 1vw;
  margin: 0 auto;
  padding: 2vw;
  width: 80%;
}

.conteudo-cartela {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vw;
  width: 100%;
}

div.msg > .bingo {
  border: 7px double;
  color: rebeccapurple;
  font-size: 13vw;
  left: 13%;
  padding: 1vw 5vw;
  position: absolute;
  top: 300%;
  transform: rotate(315deg);
}

footer {
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.5),rgba(0, 0, 0, 0.5),rgba(128, 128, 128, 0.7));
  bottom: 0;
  color: whitesmoke;
  font-size: 1.7vw;
  height: 20px;
  margin-top: 10px;
  padding: 4px 0 0;
  text-align: center;
  width: 100%;
}

footer:hover {
  background-color: black;
  transition: 3s;
}

.g {
  background-color: rgba(0, 128, 0, 0.831);
  color: white;
}

.ganhador {
  font-size: 4vw;
  font-weight: 600;
  width: 100%;
}

.ganhador {
  /* Chrome, Safari, Opera */
  -webkit-animation: PULSE 2s infinite; 
  
  /* Internet Explorer */
  -ms-animation: PULSE 2s infinite;
  
  /* Standard Syntax */
  animation: PULSE 1.25s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes PULSE{
  0%{color:rgba(242, 150, 22);}
  110%{color: black;}
}

/* Internet Explorer */
@-ms-keyframes PULSE{
  0%{color:rgba(128, 197, 25);}
  110%{color: black;}
}

/* Standard Syntax */
@keyframes PULSE{
  0%{color:rgba(81,157,186);}
  105%{color: rgb(255, 0, 0);}
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 100%;
}

.i {
  background-color: rgba(255, 255, 0, 0.681);
  color: black;
}

.infos {
  height: 20vw;
  margin-top: 15vw;
  width: 95vw;
}

.infos-table {
  border-spacing: 5px;
  font-size: 3vw;
  text-align: center;
  width: 100%;
}

.infos-table td {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
}

.infos-table .null {
  border: none;
}

.infos-table .part {
  text-align: right;
  width: 50px;
}

.input-bingo {
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 3vw;
  letter-spacing: 1px;
  height: 4.5vw;
  margin-bottom: 10px;
  margin-left: 15px;
  text-align: center;
  width: 70%;
}

div.letra {
  align-items: center;
  border: 2px solid gray;
  border-radius: 15px;
  color: grey;
  display: flex;
  font-size: 20vw;
  height: 18vw;
  justify-content: center;
  margin: 0 2vw;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  width: 18vw;
}

div.sorteado {
  align-items: center;
  border: 2px solid gray;
  border-radius: 50%;
  color: gray;
  display: flex;
  font-size: 14vw;
  height: 18vw;
  justify-content: center;
  margin: 0 2vw;
  min-height: 150px;
  min-width: 150px;
  width: 18vw;
}

.logo {
  text-align: center;
  width: 17%;
}

.logo2 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.logo-bingo {
  left: 1vw;
  position: absolute;
  top: 1vw;
  width: 14vw;
}

.logo-ong {
  right: 1vw;
  position: absolute;
  top: 1vw;
  width: 12vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
}

.menu {
  text-align: center;
  width: 100%;
}

.n {
  background-color: rgba(0, 0, 0, 0.879);
  color: white;
}

.no {
  color: white;
}

.nome {
  left: 16%;
  position: absolute;
  top: 3vw;
  width: 70vw;
}

.num td{
  background-color: white;
  border: 1px solid grey;
  font-size: 4vw;
  font-weight: 600;
  padding: 0.3vw 0.5vw;
  text-align: center;
}

.o {
  background-color: rgba(255, 0, 0, 0.77);
  color: white;
}

.premios {
  font-weight: 600;
  width: 100%;
}

.rodada {
  width: 50%;
}

.roleta {
  width: 150px;
}

.sorteio {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 2vw;
  width: 100%;
}

.sorteando {
  align-self: center;
  border: 1px white;
  color: cadetblue;
  display: flex;
  font-size: 20px;
  height: 20px;
  top: 270px;
}

.title {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 3vw;
  padding: 0;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  width: 3vw;
}

.valor {
  width: 50%;
}
